.trigger {
  background: transparent;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  font-size: 1.2rem;
  border-radius: 50%;
}

.menu {
  min-width: 160px;
  background-color: white;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.menuItem {
  font-size: 14px;
  line-height: 1;
  color: var(--violet-11);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 5px;
  position: relative;
  padding-left: 18px;
  user-select: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}
