@import "@/styles/variables.scss";

.wrapper {
  display: flex;

  @media (max-width: $breakpoint-desktop-max) {
    flex-direction: column;
  }
}

.main {
  height: calc(100vh - 60px);
  padding: 1rem;
  margin-top: 60px;
  flex: 1;
  overflow: auto;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}
