@import "@/styles/variables.scss";

.wrapper {
  display: flex;

  @media (max-width: $breakpoint-desktop-max) {
    flex-direction: column;
  }
}

.main {
  height: 100vh;
  padding: 1rem;
  flex: 1;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}
