@import "@/styles/variables.scss";

.button {
  width: 100%;
  padding: 1rem;
  border: 0;
  height: 2.7rem;
  background: $color-primary;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    background: $color-primary-variant;
  }
}
