@import "@/styles/variables.scss";

.profilePaper {
  padding: 1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media (min-width: $breakpoint-desktop-min) {
    padding: 1.5rem;
  }
}

.housesTitle {
  font-size: 1.7rem;
}
