@import "@/styles/variables.scss";

.paragraph {
  margin: 0;
  line-height: 1.6;
}

.normalWeight {
  font-weight: 400;
}

.mediumWeight {
  font-weight: 500;
}

.boldWeight {
  font-weight: 700;
}

.normalVariant {
  color: $color-text;
}

.mutedVariant {
  color: $color-text-muted;
}
