$color-primary: rgb(33, 31, 38);
$color-primary-variant: rgba(18, 17, 21);
$color-text: rgb(33, 31, 38);
$color-text-muted: rgb(101, 99, 109);

$overlay-background: rgba(0, 0, 0, 0.8);

$breakpoint-desktop-max: 1024px;
$breakpoint-desktop-min: 1025px;
