@import "@/styles/variables.scss";

.header {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  gap: 1rem;

  & button,
  & a {
    width: 100%;
    display: flex;
  }

  @media (min-width: $breakpoint-desktop-min) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & h2 {
      flex: 1;
    }

    & button,
    & a {
      width: initial;
      display: initial;
    }
  }
}
