@import "@/styles/variables.scss";

.header {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  gap: 1rem;

  @media (min-width: $breakpoint-desktop-min) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & button {
      max-width: 16.25rem;
    }
  }
}
