@import "@/styles/variables.scss";

.paper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 1rem;
  gap: 1.2rem;

  @media (min-width: $breakpoint-desktop-min) {
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
  }
}
