@import "@/styles/mixins.scss";

.container {
  padding: 1rem;
  cursor: pointer;
  text-align: left;
  @include paper;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.street {
  margin: 0 0 1rem 0;
  font-weight: 500;
}

.type {
  margin: 0;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.7);
}

.number {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}
