.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  margin-bottom: 0;

  & thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    text-align: left;
    font-weight: 600;
  }

  & td {
    border-top: 1px solid #dee2e6;
  }

  & th,
  & td {
    padding: 1rem;
    vertical-align: top;
  }
}

.wrapper {
  overflow: auto;
}
